.controls {
  position: sticky;
  top: 0;
  z-index: 20;

  display: grid;
  gap: var(--gap-sm);
  padding-block: var(--space-3);

  background: Canvas;
  backdrop-filter: blur(1.5px);
}

.searchActions {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: var(--gap-sm);
}

.filterToolbarContent {
  display: subgrid;
  grid-column: span 2;
}

.mobileToggleButtons {
  display: none;
}

.resultsArea {
  position: relative;
  min-height: 240px;
}

/*===== Mobile =====*/
@media (max-width: 767px) {
  .searchActions {
    grid-template-columns: 1fr;
    gap: var(--gap-sm);
  }

  .filterToolbarContent {
    display: block;
    grid-column: auto;
  }

  .mobileToggleButtons {
    display: flex;
    gap: var(--gap-sm);
  }

  .actionsContent[data-open="false"] {
    display: none;
  }
}

