.controls {
  position: sticky;
  top: 0;
  z-index: 20;

  display: grid;
  gap: var(--gap-sm);
  padding-block: var(--space-3);

  background: Canvas;
  backdrop-filter: blur(1.5px);
}

.resultsArea {
  position: relative;
}

