.controls {
  position: sticky;
  top: 0;
  z-index: 20;

  display: grid;
  gap: var(--gap-sm);
  padding-block: var(--space-3);

  background: Canvas;
  backdrop-filter: blur(1.5px);
}

.searchActions {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.toggleButton {
  display: none;
}

.resultsArea {
  position: relative;
}

/*===== Mobile =====*/
@media (max-width: 767px) {
  .searchActions {
    grid-template-columns: 1fr;
    gap: var(--gap-sm);
  }

  .toggleButton {
    display: block;
  }

  .actionsContent[data-open="false"] {
    display: none;
  }
}

