.toolbar div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-sm);
}

.toolbar dt {
  font-size: 0.85rem;
}

.toolbar div {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

